section {
    background-color: aqua;
    height: 50px;
    width: 90%;
    margin: 0 auto;
}

.table-wrap {
    background-color: salmon;
    height: 90%;
    width: 90%;
    margin: 0 auto;
}

table {
    background-color: yellow;
    height: 90%;
    content: "asdfasdf";
    width: 90%;
    margin: 0 auto;
}

tr.total {
    background: gray;
}